@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.wrapper {
    display: flex;
    width: calc((100% - 120px) / 5);
}

img {
display: block;
width: 100%;
}

.is-hidden {
    display: none;
}