.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-content: space-between;
  padding: 15px;
}

.info-item {
  width: calc((100% - 15px) / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
